body {
  height: 100%;
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;


  p {
    font-size: 14px;
  }

  input:focus {
    outline: none; /* Removes the default outline */
    border: none; /* Removes the border */
  }
}
